<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<div th:replace="~{master/head::head}"></div>

<body>
<header id="header" class="header sticky-top">
    <div th:replace="~{master/topbar::top_bar}"></div>
    <div th:replace="~{master/navmenu::nav_menu}"></div>
</header>

<!--Content-->
<th:block th:fragment="content">
    <section id="therapists" class="doctors section light-background">
        <div class="container section-title aos-init aos-animate" data-aos="fade-up">
            <h2>Therapists</h2>
            <p>Đội ngũ bác sĩ chuyên môn cao và giàu kinh nghiệm</p>
        </div>

        <div class="container">
            <div class="row gy-4">

                <!-- Bác sĩ Khoa -->
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img">
                            <a th:href="@{/doctor/khoa}">
                                <img th:src="@{/assets/img/doctors/doctor-khoa.jpg}" class="img-fluid" alt="">
                            </a>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Bác sĩ CKII. Nguyễn Kim Khoa</h4>
                            <span>Trưởng khoa Thẩm Mỹ</span>
                        </div>
                    </div>
                </div>

                <!-- Bác sĩ Linh -->
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <div class="team-member">
                        <div class="member-img">
                            <a th:href="@{/doctor/linh}">
                                <img th:src="@{/assets/img/doctors/doctor-linh.jpg}" class="img-fluid" alt="">
                            </a>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Bác sĩ Trương Linh</h4>
                            <span>Chuyên khoa Da Liễu - Thẩm Mỹ</span>
                        </div>
                    </div>
                </div>

                <!-- Bác sĩ Hướng -->
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-member">
                        <div class="member-img">
                            <a th:href="@{/doctor/huong}">
                                <img th:src="@{/assets/img/doctors/doctor-huong.jpg}" class="img-fluid" alt="">
                            </a>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Bác sĩ Võ Thành Hướng</h4>
                            <span>Đa Khoa - Chuyên Khoa Da Liễu</span>
                        </div>
                    </div>
                </div>

                <!-- Bác sĩ Nghĩa -->
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                    <div class="team-member">
                        <div class="member-img">
                            <a th:href="@{/doctor/nghia}">
                                <img th:src="@{/assets/img/doctors/doctor-nghia.jpg}" class="img-fluid" alt="">
                            </a>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Bác sĩ Mai Hữu Nghĩa</h4>
                            <span>Phẫu thuật thẩm mỹ nâng cao</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</th:block>

<div th:replace="~{master/footer::footer}"></div>
</body>
</html>
