<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<div th:replace="~{master/head::head}"></div>

<body>
<header id="header" class="header sticky-top">
    <div th:replace="~{master/topbar::top_bar}"></div>
    <div th:replace="~{master/navmenu::nav_menu}"></div>
</header>
<!--Content-->
<th:block th:fragment="content">
    <section id="therapists" class="doctors section light-background">

        <!-- Section Title -->
        <div class="container section-title aos-init aos-animate" data-aos="fade-up">
            <h2>Therapists</h2>
<!--            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>-->
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img">
                            <a th:href="@{/doctor/khoa}">
                            <img th:src="@{/assets/img/doctors/doctors-1.jpg}" class="img-fluid" alt="">
                            </a>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href="https://web.facebook.com/nguyen.hoang.13779?locale=vi_VN"><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Nguyễn Kim Khoa</h4>
                            <span>Chief Medical Officer</span>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <div class="team-member">
                        <div class="member-img">
                            <a th:href="@{/doctor/linh}">
                            <img th:src="@{/assets/img/doctors/doctors-2.jpg}" class="img-fluid" alt="">
                            </a>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Trương Linh</h4>
                            <span>Anesthesiologist</span>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-member">
                        <div class="member-img">
                            <a th:href="@{/doctor/nghia}">
                            <img th:src="@{/assets/img/doctors/doctors-3.jpg}" class="img-fluid" alt="">
                            </a>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Mai Hữu Nghĩa</h4>
                            <span>Cardiology</span>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                    <div class="team-member">
                        <div class="member-img">
                            <a th:href="@{/doctor/huong}">
                            <img th:src="@{/assets/img/doctors/doctors-4.jpg}" class="img-fluid" alt="">
                            </a>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Võ Thành Hướng</h4>
                            <span>Neurosurgeon</span>
                        </div>
                    </div>
                </div><!-- End Team Member -->

            </div>

        </div>

    </section>
</th:block>
</body>
<div th:replace="~{master/footer::footer}"></div>
<script th:src="@{/assets/js/script.js}"></script>
</html>