<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="~{master/head::head}"></div>

<body>
<header id="header" class="header sticky-top">
    <div th:replace="~{master/topbar :: top_bar}"></div>
    <div th:replace="~{master/navmenu :: nav_menu}"></div>
</header>

<main class="container my-5">
    <div class="row g-5 align-items-center">
        <div class="col-md-6 text-center">
            <img th:src="@{/assets/img/services/whitening.png}" class="img-fluid rounded shadow" alt="Tắm trắng & Dưỡng da">
        </div>
        <div class="col-md-6">
            <h2 class="text-primary fw-bold">Tắm trắng & Dưỡng da</h2>
            <p class="fs-5">
                Ứng dụng công nghệ làm trắng an toàn, giúp da mịn màng, bật tone hiệu quả mà không gây kích ứng.
            </p>

            <div class="mt-4">
                <a th:href="@{/master/service}" class="btn btn-outline-primary">← Quay lại trang dịch vụ</a>
                <a th:href="@{/master/appointment(service='whitening')}" class="btn btn-primary ms-2">Đặt lịch dịch vụ</a>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{master/footer::footer}"></div>
</body>
</html>